@import url(https://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700);

body {
  padding: 50px;
  font: 14px/1.5 Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #777;
  font-weight: 300;
}

h1 {
  color: #090909;
}

h5 {
  color: #333333;
  font-weight: 300;
}

.blob-container {
  margin-top: 30px;
}

.blob {
  position: relative;
  border-radius: 50%;
  text-align: center;
  padding: 30px;
  margin: 0px;
  width: 100px;
  height: 100px;
  float: left;
  margin: -20px -20px 0 0;
  font-size: 18px;
  opacity: 0.7;
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -o-transition: opacity 1s;
  -ms-transition: opacity 1s;
  transition: opacity 1s;
  -webkit-backface-visibility: hidden;
}

.blob span {
  position: relative;
  top: 34px;
}

a.blob, a.blob:hover {
  color: #ffffff;
  text-decoration: none;
}

a.blob:hover {
  z-index: 1;
  opacity: 1;
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 1s;
  -o-transition: opacity 1s;
  -ms-transition: opacity 1s;
  transition: opacity 0.5s;
  -webkit-backface-visibility: hidden;
}

.blob-a {
  background-color: #CFF09E;
}

.blob-b {
  background-color: #A8DBA8;
}

.blob-c {
  background-color: #79BD9A;
}

.blob-d {
  background-color: #3B8686;
}

.blob-e {
  background-color: #0B486B;
}

.blob-f {
  background-color: #8CA738;
}
